<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{0,0}</string>
		<string>{10,0}</string>
		<string>{15,8}</string>
		<string>{18,0}</string>
		<string>{20,0}</string>
		<string>{15,10}</string>
		<string>{10,2}</string>
		<string>{6,2}</string>
		<string>{6,10}</string>
		<string>{4,10}</string>
		<string>{4,2}</string>
		<string>{0,2}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{10,0}</string>
		<string>{15,8}</string>
		<string>{18,0}</string>
		<string>{20,0}</string>
		<string>{15,10}</string>
		<string>{10,2}</string>
		<string>{6,2}</string>
		<string>{6,10}</string>
		<string>{4,10}</string>
		<string>{4,2}</string>
		<string>{0,2}</string>
		<string>{0,0}</string>
	</array>
</dict>
</plist>
